:root{
    --theme-accent: #FFC700;
    --theme-main: #FFFFFF;
    --theme-bgd: #222527;
    --theme-modal-bgd: rgb(239 236 236 / 90%);
    --theme-btn-text: #060803;
}


body, html{
    height: 100%;
    width: 100%;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.container{
    max-width: 1170px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

/* =======HERO+++++++ */

header{
    padding: 32px 0 72px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo, .achivements-icon svg, .footer svg, .modal-success-icon svg{
    fill: var(--theme-accent);
}

.logo:hover,
.logo:focus{
    transform: scale(1.2);
}

.about {
    height: 100%;
    width: 100%;
    background-image: url('../img/space.jpg');
    background-size: cover;
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
}

.about-social{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    top: 18%;
}

.social-link{
    margin-bottom: 20px;
    width: 24px;
    height: 24px;
}

.social-link:hover,
.social-link:focus{
    transform: scale(1.2);
}

.social-link svg{
    fill: var(--theme-accent);
}

.about-name{
    font-family: 'Russo One',
    sans-serif;
    color: var(--theme-accent);
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 1.3;
    margin-bottom: 24px;
}

.about-profession{
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 16px;
    color: var(--theme-main);
}

.about-positions{
    font-size: 16px;
    line-height: 1.5;
    color: var(--theme-accent);
    margin-bottom: 8px;
    list-style: disc;
    margin-left: 18px;
}

.about-profession-text{
    color: var(--theme-main);
}

.about-button{
    border: 0;
    outline: 0;
    margin-top: 24px;
    padding: 16px 32px 16px 32px;
    background: var(--theme-accent);
    border-radius: 28px;
    cursor: pointer;
    color: var(--theme-btn-text);
}

.about-button:hover,
.about-button:focus{
    transform: scale(1.2);
}

.about-description{
    font-size: 16px;
    line-height: 1.5;
    color: var(--theme-main);
    width: 374px;
}

.about-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about-content-row{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 60px;
}

.darth-vader-img{
    position: absolute;
    right: 0;
    bottom: 0;
}

.death-star-img{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    bottom: -100px;
    opacity: 0.4;
}

/* =======achivements+++++++ */

.achivements{
    padding: 60px 0;
    background-color: var(--theme-bgd);
}

.achivements-header{
    color: var(--theme-accent);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 60px;
}

.achivements-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.achivements-item{
    width: 25%;
}

.achivements-icon{
    width: 60px;
    height: 60px;
}

/* .achivements-icon svg{
    fill: var(--theme-accent);
} */

.achivements-item-title{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: var(--theme-accent);
    margin: 32 0 4 0;
}

.achivements-item-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--theme-main);
}

/* =======codex+++++++ */

.codex{
    padding: 186px 0;
    background-image: url('../img/space.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.codex .container{
    flex-direction: row;
}

.codex-motto{
    font-family: 'Russo One',
    sans-serif;
    color: var(--theme-accent);
    font-style: italic;
    font-weight: 400;
    font-size: 46px;
    line-height: 1.3;
}

.codex-left-side,.codex-right-side {
    width: 50%;
}

.codex-title{
    color: var(--theme-accent);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 32px;
}

.codex-text{
    font-size: 16px;
    line-height: 1.5;
    color: var(--theme-main);
    margin-bottom: 4px;
}

.codex-text-last{
    margin-bottom: 60px;
}

/* =======footer+++++++ */

.footer{
    background-color: var(--theme-bgd);
    padding: 60px 0 60px 0;
}

.footer .container{
    align-items: center;
}

.footer-title{
    color: var(--theme-main);
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 54px;
    width: 760px;
}

/* Модальное окно 1 */

.modal-conteiner{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--theme-modal-bgd);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

.modal-form{
    padding: 40px 80px;
    background-color: var(--theme-bgd);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.close-icon{
    position: absolute;
    top: 12px;
    right: 12px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.close-icon:hover, .close-icon:focus{
    transform: scale(1.2);
}

.modal-form-title{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: var(--theme-accent);
    margin-bottom: 4px;
    text-align: center;
}

.modal-form-text{
    font-size: 16px;
    line-height: 1.5;
    color: var(--theme-main);
    text-align: center;
    margin-bottom: 32px;
}

.modal-form-field {
    display: flex;
    flex-direction: column;
}

.modal-form-name, .modal-form-email {
    margin-bottom: 16px;
    width: 440px;
    height: 40px;
    border: 1px solid var(--theme-main);
    padding: 4px;
    box-sizing: border-box;
    background: none;
    color: var(--theme-main);
    font-size: 24px;
    line-height: 1.5;
}


.modal-form-field-label{
    font-size: 16px;
    line-height: 1.5;
    color: var(--theme-main);
    margin-bottom: 4px;
    }

.modal-form-submit{
    border: 0;
    outline: 0;
    padding: 16px 32px 16px 32px;
    background: var(--theme-accent);
    border-radius: 28px;
    cursor: pointer;
    width: 207px;
    margin: 16px auto 0 auto;
    color: var(--theme-btn-text);
    }

.modal-form-submit:hover, .modal-form-submit:focus{
    transform: scale(1.2);
}

.modal-active{
    opacity: 1;
    pointer-events: all;
}

.modal-success{
    padding: 40px 80px 88px 80px;
    background-color: var(--theme-bgd);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.modal-success-title{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: var(--theme-accent);
    margin-bottom: 112px;
    text-align: center;
}

.modal-success-text{
    font-size: 16px;
    line-height: 1.5;
    color: var(--theme-main);
    text-align: center;
    margin-bottom: 32px;
    width: 440px;
}

.close-icon svg{
    fill: var(--theme-main);
}

.about--light,
.codex--light {
    background-image: url("../img/stardust.jpg");
}